body{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: bisque;
    background-color: aquamarine;
}

#cabecera{
    background: blue;
}
header{
    background-image: url("../imagenes/dragon.jpg");
}