body{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: bisque;
}

#cabecera{
    background: blue;
}
footer{
    background-color: azure;
    align-items: flex-start;
    
}